.main {
    height: 540px;
    background-color: #fff;
    margin-bottom: 122px;
    position: relative;
}

.main-inner {
    height: 570px;
    background: url(../img/new_img_login.png) 50px bottom no-repeat;
    position: relative;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.log-box {
    padding: 20px;
    width: 296px;
}
.login-register{
    box-shadow:0px 1px 11px #999;
    position: absolute;
    top: 60px;
    right: 50px;
    border-radius: 5px;
    min-height: 320px;
    background: white;
    border:1px solid #d5d5d5;
    width: 332px;
}
.code-box {
    height: 92px;
    margin-top: 20px;
}

.code-box img {
    width: 92px;
    height: 92px;
    float: left;
}

.code-box .font-box {
    width: 120px;
    height: 92px;
    float: left;
    margin-left: 37px;
}

.code-box .font {
    display: table-cell;
    color: #333333;
    font-size: 14px;
    vertical-align: middle;
    height: 92px;

}

.code-box span {
    display: inline-block;
    font-size: 12px;
}

.bottom-font {
    margin-top: 14px;
    font-size: 14px;
    text-align: center;
}

.bottom-font spaN {
    font-size: 16px;
    color: #CC0000;
    padding: 0 5px;
    font-weight: bold;
}

#loginPageBox .captcha {
    display: none;
}

#loginPageBox .captcha.show {
    display: block;
}

.captcha-wrap {
    width: 300px;
    overflow: hidden;
}

.captcha-box {
    width: 600px;
}

.captcha-item {
    float: left;
    width: 296px;
    margin-right: 4px
}
.login_tab{
    border-bottom: 1px solid #e62f17;
}
.login-btn{
    width: 166px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.login-btn.active{
    background: url(../img/login_input_tab.png) no-repeat;
    color: #fff;
}
.register-btn.active{
    background: url(../img/login_input_tab2.png) no-repeat;
    color: #fff;
}
.register-btn{
    width: 166px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.login-header{
    background: url("../img/long_headerImg.png") no-repeat;
    width: 95px;
    height: 96px;
    display:block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lRemember{
    background: url("../img/checker.png") no-repeat;
    display: inline-block;
    width: 15px;
    position: relative;
    top: 3px;
    margin-right: 5px;
    height: 15px;
    cursor: pointer;
}
.loginChecked{
    background: url("../img/login_checked.png") no-repeat;
    display: inline-block;
    width: 15px;
    position: relative;
    top: 3px;
    margin-right: 5px;
    height: 15px;
    cursor: pointer;
}
